<div class="code-asset">
  <a class="download toggle-code"><i class="fa fa-download"></i></a>
  <div>
    <% current_time = DateTime.now %>
    <p>Assets as of <%= current_time.strftime "%m/%d/%Y" %>:</p>
    <ul>
      <li><a href="/stylesheets/site.css" download>site.css</a></li>
      <li><a href="/javascripts/bundle.js" download>bundle.js</a></li>
      <li><a href="/javascripts/libs/modernizr.js" download>modernizr.js</a></li>
      <li><a href="/javascripts/libs/detectizr.js" download>detectizr.js</a></li>
    </ul>
  </div>
</div>
