p
  +scale-up($ipad-port)
    font-size: 18px

a
  display: inline-block
  text-decoration: none
  transition-duration: $anim-speed

strong
  font-weight: 700

h1,
h2,
h3,
h4,
h5,
h6
  margin-bottom: 50px

h1
  +font-size(40)
  +scale-down($ipad-port)
    +font-size(36)

h2
  +font-size(36)
  +scale-down($ipad-port)
    +font-size(33)

h3
  +font-size(33)
  +scale-down($ipad-port)
    +font-size(28)

h4
  +font-size(28)
  +scale-down($ipad-port)
    +font-size(25)

h5
  +font-size(25)
  +scale-down($ipad-port)
    +font-size(22)

h6
  +font-size(22)
  +scale-down($ipad-port)
    +font-size(20)
