.navigation
  +clearfix

  .logo
    float: left
    max-width: 120px
    padding-top: 5px
    width: 100%

  ul
    +vertical-center

    +scale-up($ipad-port)
      right: 30px

    +scale-down($ipad-port)
      right: 15px

    li
      display: inline-block
      letter-spacing: 1px
      padding: 0 0 0 10px
      text-transform: uppercase

    a
      color: $black

      &:hover
        color: $gold
