.single-item
  box-sizing: border-box
  display: inline-block
  padding: 0 50px 50px 0
  text-align: left
  transform: scale(1)
  transition-duration: $anim-speed
  vertical-align: top
  width: 33%

  &:hover
    transform: scale(1.1)

    .inner
      box-shadow: 0 10px 20px -15px $black

  .inner
    background-position: top center
    background-size: cover
    border: 1px solid $gray
    color: $white
    height: 450px
    position: relative
    transition-duration: $anim-speed

  h3
    box-sizing: border-box
    color: $black
    font-size: 16px
    margin: 0
    width: 100%
