<a href='/work/<%= content.title.downcase.gsub(" ", "-") %>' class='single-item'>
  <div class='inner' style='background-image: url(<%= random_image() %>'>
    <h4><%= content.title %></h4>
  </div>
</a>
