<a href='/work/<%= content[1].title.downcase.gsub(" ", "-") %>' class='single-item'>
  <div class='inner' style='background-image: url(<%= content[1].screens[0].image %>'></div>
  <h3><%= content[1].title %></h3>
</a>
