<a href='/work/<%= content.title.downcase.gsub(" ", "-") %>' class='single-item'>
  <div class='inner' style='background-image: url(<%= content.screens[0] %>'></div>
  <h3><%= content.title %></h3>
</a>
