.contact-form
  p
    + p
      &:before
        border-top: 1px solid $gray
        content: ''
        display: block
        height: 1px
        margin-bottom: 15px
        width: 100px

  .textarea-label
    display: inline-block
    margin-bottom: 10px

  .check-label
    cursor: pointer
