<footer>
  <div class='wrap'>
    <%= data.site_settings.footer_copy %><br><br>
    <p>Follow me:</p>
    <%= partial 'partials/molecules/socials', locals: { content: data.site_settings.socials } %>
  </div>
</footer>
