<div class='hero widget'>
  <div id='instafeed' class='instagram'></div>
  <div class='content'>
    <div>
      <%= partial 'partials/atoms/logo-icon' %>
      <h1 class='site-title'>ScottWamba.ch</h1>
    </div>
  </div>
</div>
