<section class='widget project-list'>
  <div class='wrap'>
    <h2>Sites I've had a hand in</h2>
    <div class='container'>
      <% data.projects_order.order_items.each do |proj| %>
      <%= partial 'partials/molecules/project-item', locals: { content: data.project_items[proj.project.gsub(' ', '-').downcase] } %>
      <% end %>
    </div>
  </div>
</section>
