<section class='widget project-list'>
  <div class='wrap'>
    <h2>Sites I've had a hand in</h2>
    <div class='container'>
      <% content.each do |proj| %>
      <%= partial 'partials/molecules/project-item', locals: { content: proj } %>
      <% end %>
    </div>
  </div>
</section>
