.project-detail,
.page
  padding-top: 30px

  +scale-up($ipad-port)
    padding-top: 60px

.project-detail
  .wrap
    +scale-up($ipad-port)
      align-items: top
      display: flex
      flex-direction: row-reverse

    > div
      width: 100%

  img
    border: 1px solid $gray
    margin-bottom: 100px

  .copy
    +scale-up($ipad-port)
      padding: 0 0 0 50px

    +scale-down($ipad-port)
      padding-bottom: 50px

    p
      color: $black
      margin-bottom: 20px

    .inner
      +scale-up($ipad-port)
        position: sticky
        top: 120px

  &.preview
    .copy
      .inner
        top: 60px

  ul
    ul
      padding-left: 20px
